
body{
    background-color: #191919;
}

#red{
    border-radius: 20%;
    background-color: red;
    height: 170px;
    width: 170px;
}

#green{
    border-radius: 20%;
    background-color: green;
    height: 170px;
    width: 170px;
}

#yellow{
    border-radius: 20%;
    background-color:yellow;
    height: 170px;
    width: 170px;
}

#blue{
    border-radius: 20%;
    background-color:#3AB0FF;
    height: 170px;
    width: 170px;
}

.divr{
    position: absolute;
    margin-top: 5%;
    margin-left: 52%;
    width: 150px;
    height: 150px;
}

.divg{
    margin-top: 5%;
    margin-left: 5%;
    position: absolute;
    width: 150px;
    height: 150px;
}

.divy{
    position: absolute;
    margin-left: 5%;
    margin-top: 53%;
    width: 150px;
    height: 150px;
}

.divb{
    position: absolute;
    margin-left: 52%;
    margin-top: 32%;
    margin-top: 53%;
    width: 150px;
    height: 150px;
}

.sqr{
    border-radius: 10%;
    position: absolute;
    background-color:black;
    width: 400px;
    height: 400px;
    margin-left: 36.5%;
}

.glowr{
    box-shadow: 5px/*left*/ 5px/*top*/ 80px/*blur effect*/ 0px/*size of glow box*/ red;
}

.glowg{
    box-shadow: 5px/*left*/ 5px/*top*/ 80px/*blur effect*/ 0px/*size of glow box*/ green;
}

.glowy{
    box-shadow: 5px/*left*/ 5px/*top*/ 80px/*blur effect*/ 0px/*size of glow box*/ yellow;
}

.glowb{
    box-shadow: 5px/*left*/ 5px/*top*/ 80px/*blur effect*/ 0px/*size of glow box*/ #3AB0FF;
}

.start{
    background-color: white;
    height: 40px;
    width: 200px;
    position: absolute;
    margin-top: 30%;
    font-size: 20px;
    margin-left: 43.5%;
    font-weight: bold;
} 

.class_opacity{
    opacity: 0.5;
}