
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simon Game</title>
        <link rel="icon" href="../Images/favicon.ico">
        <link rel="stylesheet" href="../index.css">
    </head>
    
    <body>
        <h1 style="color: white; font-size:70px; text-align: center; font-style: italic;">Simon Game</h1>
        <div class="sqr">
            <div class="divr"> <input type="button" class="btn" id="red"> </div>
            <div class="divg"> <input type="button" class="btn" id="green"> </div>
            <div class="divy"> <input type="button" class="btn" id="yellow"> </div>
            <div class="divb"> <input type="button" class="btn" id="blue"> </div>
        </div>
        <input type="button" class="start" value="Start">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>
        <script src="../index.js" charset="utf-8"></script>
    </body>

</html>